/.installed.cfg
/.mr.developer.cfg
/buildout.cfg
/secrets.cfg
/bin
/build
/develop-eggs
/dist
/eggs
/etc
/include
/lib
/local
/parts
/var
/src
*.mo
*.pyc
*~
*.bak
*.swp
*.pt.py
_site
scripts
secrets.robot
log.html
output.xml
report.html
pip-selfcheck.json
__pycache__
*.egg-info
