#!/usr/bin/env bash
pg_dump --clean --if-exists --column-inserts --quote-all-identifiers \
    postgresql://${database-user}:${database-password}@${database-host}:${database-port}/${database-name} \
    > /tmp/metabase-dump.sql;
${buildout:bin-directory}/sqlformat --reindent --keywords upper --identifiers lower \
    /tmp/metabase-dump.sql \
    > ${buildout:directory}/dumps/metabase-dump.sql
